* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  color: white;
}

header {
  /* text-align: center;
  vertical-align: text-bottom;  */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* pbtag */
  /* height: 100px; */
  height:50px;
}

p {
  padding: 10px;
}

.js-quiz-box {
  /* pbtag */
  /* margin-left:100px; 
  margin-right:100px;  */
  margin: 0 25px 0 25px;
  /* pbtag */
  /* padding: 25px; */
  padding; 20px;
  width: inherit; 
  height: inherit;
  background-color: black;
  /* pbtag */
  /* border: 10px solid white; */
  border: 5px solid white;
  text-align: center;
  display:block;
}

#disclaimer {
  font-size: 8px;
  /* pbtag */
  /* margin-top:50px; */
  margin: 10px 0 0 0;
}

/* Per the ordering, allow header, button, and non-question text to be centered. */
.js-quiz-box {
  text-align: center;
}

.questionForm fieldset{
  border: 0;
  margin: 0;
  padding: 10px;
  width: inherit;
  margin-left:auto;
  margin-right:auto;
} 

fieldset .answer-options {
  text-align: left;
  width: inherit;
  height: inherit;
}

div.answerOption {
  width: inherit;
  height: inherit;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;   
  align-items: center;
  padding-bottom: 20px;
}

/*Allows the radio buttons and the label text to display on one line. 
  Adds space between the radio buttons and the option text.*/
.input, label.answerOption {
  display:inline;
  padding: 0 0 0 10px;
}

.score {
  margin-right: 15px;
}

.questionNum {
  margin-left: 15px; 
}

h1 {
  padding: 10px;
  margin: 10px 0 10px 0;
}

button {
  background-color: black;
  display: inline-block;
  width: 150px;
  height: 55px;
  padding: 15px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  color: white;
  font: inherit;
  font-size: 111%;
  transition-property: color, background;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  box-shadow: 3px 3px rgb(255, 255, 255);
  border: 10px sold white;
}

button:hover {
  transform: translate(-2px,-2px);
}
/* @media screen and (min-width: 420px) {
  main {
    padding: 10px 50px 10px 50px;
  }
}

@media screen and (min-width: 1050px) {

}*/