* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  color: white;
}

header {
  /* text-align: center;
  vertical-align: text-bottom;  */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.js-quiz-box {
  margin-left:auto; 
  margin-right:auto; 
  width:400px; 
  height: 450px;
  background-color: black;
  border: 20px solid white;
  text-align: center;
}

.disclaimer {
  font-size: 8px;
}

.js-quiz-box h1 {
  text-align: center;
}
.questionForm fieldset{
  border: 0;
  margin: 0;
  padding: 0;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.answerOption {
  width: 320px;
  height: 80px;
  /*display: block;
  text-align: left;
  justify-content: space-evenly;*/
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly; 
  align-items: flex-start;
}

.score {
  margin-right: 15px;
}

.questionNum {
  margin-left: 15px; 
}

h1 {
  padding: 10px;
}

button {
  background-color:rgb(7, 12, 7);
  display: inline-block;
  width: 150px;
  height: 55px;
  padding: 15px;
  margin-top: 1.5rem;
  cursor: pointer;
  color: white;
  font: inherit;
  font-size: 111%;
  transition-property: color, background;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  box-shadow: -2px -2px rgb(255, 255, 255);
  border: 3px sold white;
}

button:hover {
  background-color:rgb(255, 255, 255);
}
/* @media screen and (min-width: 420px) {
  main {
    padding: 10px 50px 10px 50px;
  }
}

@media screen and (min-width: 1050px) {

} */