* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

header {
  /* text-align: center;
  vertical-align: text-bottom;  */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.js-quiz-box {
  margin-left:auto; 
  margin-right:auto; 
  width:400px; 
  height: 450px;
  background-color: grey;
}

/* @media screen and (min-width: 420px) {
  main {
    padding: 10px 50px 10px 50px;
  }
}

@media screen and (min-width: 1050px) {

} */